body {
	background: #a6cd62;
}
.introcontainer {
	background-image:url(/images/CowsInPaddock.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	color: white;
}

.navbar {
	background-color:#624e29;
}

.btn-primary {
	background: #224914;
}