body {
	background: #26411a;
	color: #cccccc;
}
.introcontainer {
	background: #26411a;
	background-image:url(/images/background2.png);
	background-position:right;
	background-repeat:no-repeat;
	background-size:contain;
	color: white;
	border-bottom-style:dotted;
	border-bottom-color: #8FAF7D;
	border-bottom-width:thin;
	
}

.navbar {
	background-color:#624e29;
}

.btn-primary {
	background: #224914;
}