.leftAlignImage {
  display: block;
  align: left;
  width: 50%;
}

.rightAlignImage {
  display: block;
  align: right;
  width: 50%;
}

#map-canvas {
  height: 80vh;
  width: 100%;
  position: absolute;
  overflow: auto;
  margin-top: 10px;
}

#check_tracking, #cancel_tracking {
  display: none;
}

#start_tracking, #check_tracking, #cancel_tracking {
  background: black;
  color: white;
  align: center;
  margin:0 auto;
  margin-left: 10px;
}

#default-text-maps {
  text-align: center;
}
